<section class="container mx-auto py-20 md:py-40 px-4">
  <h2 class="lg:text-center text-3xl md:text-4xl lg:text-5xl font-semibold !leading-tight">How We Can<br/ ><span class="px-2 bg-brand-primary rounded-lg leading-none">Help Your Business</span></h2>
<p class="lg:text-center max-w-2xl mx-auto pt-12">At Extensibl Media, we understand that the web is constantly evolving at a rate that makes it harf even for large companies to keep up. We are here to help alleviate the stress and mysteries of running a successful business while trying to stay up to date with your website. We specialize in helping small businesses rank higer on Google and drive more business through your doors, all without breaking the bank.</p>
  <div class="grid mt-20 grid-cols-6 w-full gap-12">
    <div class="col-span-6 lg:col-span-2 flex flex-col lg:items-center">
      <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/jqeuwnmb.json"
            trigger="loop"
            delay=2000
            colors="primary:#121331,secondary:#7de2d1"
            class="mb-4 md:mb-8 w-20 h-20 md:w-24 md:h-24">
        </lord-icon>
      <h3 class="text-2xl md:text-3xl lg:text-4xl lg:text-center font-bold">Mobile First Design</h3>
      <p class="lg:text-center mt-6">Most of your users nowadays will be viewing your site on their phone, and we optimize for that. This also helps with site ranking on Google, as they place a lot of focus on mobile experiences.</p>
    </div>
    <div class="col-span-6 lg:col-span-2 flex flex-col lg:items-center">
      <script src="https://cdn.lordicon.com/lordicon.js"></script>
      <lord-icon
          src="https://cdn.lordicon.com/kndkiwmf.json"
          trigger="loop"
          delay=2000
          colors="primary:#121331,secondary:#7de2d1"
          class="mb-4 md:mb-8 w-20 h-20 md:w-24 md:h-24">
      </lord-icon>
      <h3 class="text-2xl md:text-3xl lg:text-4xl lg:text-center font-bold">Conversion Focused</h3>
      <p class="lg:text-center mt-6">Getting potential customers to your website is only the first step. We will craft a journey unique to your business and its customers that ensures as many conversions into paying customers as possible.</p>
    </div>
    <div class="col-span-6 lg:col-span-2 flex flex-col lg:items-center">
      <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
      <lord-icon
          src="https://cdn.lordicon.com/gqdnbnwt.json"
          trigger="loop"
          delay=3000
          colors="primary:#121331,secondary:#7de2d1"
          class="mb-4 md:mb-8 w-20 h-20 md:w-24 md:h-24">
      </lord-icon>
      <h3 class="text-2xl md:text-3xl lg:text-4xl lg:text-center font-bold">Optimized for Speed</h3>
      <p class="lg:text-center mt-6">The web moves faster than ever these days, and your site needs to keep up to keep people's attention. Slow sites lose customers, plain and simple. Convert more paying customers today with a custom coded site!</p>
    </div>
  </div>

</section>