---
import BrandButton from "../Elements/BrandButton.astro";
import Blob from "../Elements/Blob.astro";
---

<section
  class="min-h-screen lg:pt-20 flex flex-col gap-8 items-center container mx-auto md:text-center px-4 pt-0 relative"
>
<Blob />
  <h1 class="text-4xl md:text-6xl lg:text-8xl font-extrabold z-10">
     We are a Digital Agency designed to Accelerate Business Growth
  </h1>

  <div class="flex flex-col md:flex-row gap-8 w-full md:items-center justify-around z-10">
    <div>
      <p>Established in</p>
      <p class="text-2xl font-semibold text-left">2019</p>
    </div>
    <p class="my-4 max-w-sm text-left">
      We offer a suite of services for businesses and startups that focus on growth and innovation for your business
    </p>
    <!-- <a href="#" class="text-center px-6 py-3 bg-brand-primary rounded-xl">Learn More</a> -->
    <BrandButton title="Learn More" path="#"  />

  </div>
  <picture class="w-full z-10">
    <source
      media="(max-width: 600px)"
      srcset="https://res.cloudinary.com/dpoanqywm/image/upload/v1696528398/marvin-meyer-SYTO3xs06fU-unsplash_1_sguypl.jpg"
    />
    <source
      media="(min-width: 601px)"
      srcset="https://res.cloudinary.com/dpoanqywm/image/upload/v1696528398/marvin-meyer-SYTO3xs06fU-unsplash_rx22iv.jpg"
    />
    <img
      loading="lazy"
      decoding="async"
      alt=""
      class="w-full rounded-xl"
      src="https://res.cloudinary.com/dpoanqywm/image/upload/v1696528398/marvin-meyer-SYTO3xs06fU-unsplash_rx22iv.jpg"
    />
  </picture>
</section>
