---
import BrandButton from "../Elements/BrandButton.astro";

---

<section class="container mx-auto py-24 px-4">
  <div class="flex flex-col lg:flex-row gap-8 lg:gap-12">
    <p class="w-full lg:w-1/4">About Us</p>
    <div class=" w-full lg:w-3/4">
      <p class="text-xl md:text-3xl font-semibold mb-12">
        We are a creative agency that specializes in Web Design, SEO, Social Media and Web presence management. Our experienced team works closely with clients to deliver customized solutions that meet their specific needs.
      </p>
<BrandButton title="Learn More" path="#"/>
    </div>
  </div>
</section>