<section class="py-20 px-4 bg-brand-dark mt-24">
  <div class="container mx-auto">
    <h2 class="text-brand-background text-center text-3xl md:text-4xl lg:text-5xl font-semibold !leading-tight">We Build With All of Your <br /><span class="text-brand-dark px-2 bg-brand-primary rounded-lg leading-none">Favorite Tools</span></h2>
    <img class="w-full mt-12" src="https://res.cloudinary.com/dpoanqywm/image/upload/v1701380732/logo_cloud_bqbgcw.png"/>
  <div>
</section>