<section class="container mx-auto px-4 py-20 md:py-40 mb-20">
  <div class="">
      <div class="mx-auto max-w-screen-sm">
        <h2 class="text-center text-3xl md:text-4xl lg:text-5xl font-semibold !leading-tight">Words From<br /><span class="px-2 bg-brand-primary text-brand-dark rounded-lg leading-none">Our Clients</span></h2>
      </div> 
      <div class="grid lg:mt-12 lg:grid-cols-2">
          <figure class="flex flex-col justify-center items-center p-8 text-center border-b border-gray-200 md:p-12 lg:border-r ">
              <blockquote class="mx-auto mb-8 max-w-2xl">
                  <h3 class="text-2xl font-semibold">Helped revitalize our business on the web</h3>
                  <p class="my-4">"Extensibl Media was recommended to us to build a new website for Serenity Vista. They proposed a project plan with schedule of payments, and delivered as promised.</p>
                  <p class="my-4">They are professional, responsive, trustworthy and can be counted on to do quality work."</p>
                </blockquote>
              <figcaption class="flex justify-center items-center space-x-3">
                  <img class="w-9 h-9 rounded-full" src="https://res.cloudinary.com/dpoanqywm/image/upload/v1701828898/john-derry_o4s1rb.webp" alt="profile picture">
                  <div class="space-y-0.5 font-medium text-left">
                      <div>John Derry</div>
                      <div class="text-sm font-light">Director at Serenity Vista</div>
                  </div>
              </figcaption>    
          </figure>
          <figure class="flex flex-col justify-center items-center p-8 text-center border-b border-gray-200 md:p-12 ">
              <blockquote class="mx-auto mb-8 max-w-2xl">
                  <h3 class="text-2xl font-semibold">Instrumental in helping us meet our goals</h3>
                  <p class="my-4">"Extensibl Media has been great to work with over the past couple years. They are quick to respond to my (frequent) questions/requests and their development work always meets expectations.</p>
                  <p class="my-4">They were always able to bounce ideas off of and discuss and debate solutions to any problem we faced when growing The Knowledge Exchange."</p>
              </blockquote>
              <figcaption class="flex justify-center items-center space-x-3">
                  <img class="w-9 h-9 rounded-full" src="https://res.cloudinary.com/dpoanqywm/image/upload/v1701828904/user-images_DAVID_MARGOLIN_PIC_x8wdvj.webp" alt="profile picture">
                  <div class="space-y-0.5 font-medium text-left">
                      <div>David Margolin</div>
                      <div class="text-sm font-light">Co-Founder at Knowledge Exchange</div>
                  </div>
              </figcaption>    
          </figure>
          <figure class="flex flex-col justify-center items-center p-8 text-center border-b border-gray-200 lg:border-b-0 md:p-12 lg:border-r ">
              <blockquote class="mx-auto mb-8 max-w-2xl">
                  <h3 class="text-2xl font-semibold">Helped us instantly scale our agency</h3>
                  <p class="my-4">"Our agency worked with Extensibl Media on a number of our new client projects, and found their model to work well for our growing client base.</p>
                  <p class="my-4">Their team had a vast array of skills and high-level recommendations on client web applications, which made consulting with our clients go very smoothly.</p>
                  <p class="my-4">Glad to have a resource like Extensibl Media available to help our ever growing and evolving client strategies."</p>
              </blockquote>
              <figcaption class="flex justify-center items-center space-x-3">
                  <img class="w-9 h-9 rounded-full" src="https://res.cloudinary.com/dpoanqywm/image/upload/v1701828994/download_sh3ocg.jpg" alt="profile picture">
                  <div class="space-y-0.5 font-medium text-left">
                      <div>Michael Lazear</div>
                      <div class="text-sm font-light">Founder/Director at 515 Media</div>
                  </div>
              </figcaption>    
          </figure>
          <figure class="flex flex-col justify-center items-center p-8 text-center border-gray-200 md:p-12 ">
              <blockquote class="mx-auto mb-8 max-w-2xl">
                  <h3 class="text-2xl font-semibold">Efficient Collaborating</h3>
                  <p class="my-4">"This is a very complex and beautiful set of elements. Under the hood it comes with the best things from 2 different worlds: Figma and Tailwind.</p>
                  <p class="my-4">You have many examples that can be used to create a fast prototype for your team."</p>
              </blockquote>
              <figcaption class="flex justify-center items-center space-x-3">
                  <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/joseph-mcfall.png" alt="profile picture">
                  <div class="space-y-0.5 font-medium text-left">
                      <div>Joseph McFall</div>
                      <div class="text-sm font-light">CTO at Google</div>
                  </div>
              </figcaption>    
          </figure>
      </div>

</section>