<section class="container mx-auto py-20 flex flex-col gap-12 lg:gap-20 px-4">
  <h1 class="text-4xl md:text-5xl lg:text-6xl font-extrabold">
    We strive for excellence in helping businesses thrive
  </h1>
  <p>We are more than just a creative agency. We are storytellers, designers, strategists, and dreamers. Our diverse team brings together a wealth of expertise across various creative disciplines, enabling us to craft comprehensive and memorable experiences for our clients.</p>
</section>