<section class="container mx-auto lg:py-20 flex flex-col gap-12 lg:gap-20 px-4 pb-32">
  <h1 class="text-4xl md:text-5xl lg:text-6xl font-extrabold">
    Your Dedicated Digital Partner
  </h1>
  <p>We are more than just a creative agency. We are storytellers, designers, strategists, and dreamers. Our diverse team brings together a wealth of expertise across various creative disciplines, enabling us to craft comprehensive and memorable experiences for our clients. We're passionate about helping businesses of all sizes and startups thrive in the digital landscape. Our journey began with a simple but profound idea - to make technology work for you and your business..</p>

  <div class="grid grid-cols-4 gap-12">
    <picture class="w-full col-span-4 md:col-span-2">
      <source
      media="(max-width: 600px)"
      srcset="https://res.cloudinary.com/dpoanqywm/image/upload/v1697575632/lauren-mancke-aOC7TSLb1o8-unsplash_2_lxqusu.jpg"
      />
      <source
      media="(min-width: 601px)"
      srcset="https://res.cloudinary.com/dpoanqywm/image/upload/v1697575633/lauren-mancke-aOC7TSLb1o8-unsplash_afxojz.jpg"
      />
      <img
      loading="lazy"
      decoding="async"
      alt=""
      class="w-full rounded-xl"
      src="https://res.cloudinary.com/dpoanqywm/image/upload/v1697575633/lauren-mancke-aOC7TSLb1o8-unsplash_afxojz.jpg"
      />
    </picture>
    <picture class="w-full col-span-4 md:col-span-2">
      <source
      media="(max-width: 600px)"
      srcset="https://res.cloudinary.com/dpoanqywm/image/upload/v1697575632/louise-viallesoubranne-5EhN4wbfvBc-unsplash_1_zdwonk.jpg"
      />
      <source
      media="(min-width: 601px)"
      srcset="https://res.cloudinary.com/dpoanqywm/image/upload/v1697575633/louise-viallesoubranne-5EhN4wbfvBc-unsplash_buyype.jpg"
      />
      <img
      loading="lazy"
      decoding="async"
      alt=""
      class="w-full rounded-xl"
      src="https://res.cloudinary.com/dpoanqywm/image/upload/v1697575633/louise-viallesoubranne-5EhN4wbfvBc-unsplash_buyype.jpg"
      />
    </picture>
  </div>
</section>