---
import { Image } from "astro:assets";
import Handshake from "../assets/handshake-svgrepo-com.svg"
---

<section class="container mx-auto px-4 py-20">
  <div class="w-full p-12 rounded-xl bg-brand-primary flex flex-col md:flex-row gap-12 justify-between shadow-md">
    <div>
      <h2 class="font-extrabold text-3xl md:text-4xl lg:text-5xl max-w-2xl mb-12">Let's make something together</h2>
      <button class="px-6 py-3 bg-brand-background rounded-xl">Let's Talk</button>
    </div>
    <Image src={Handshake} alt="Collaborate together icon" class="h-56 w-56 mx-auto"/>
  </div>
</section>