---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import TestimonialsSection from "../../components/Homepage/TestimonialsSection.astro";
import CallToAction from "../../components/CallToAction.astro";
export async function getStaticPaths() {
  const allWorks = await getCollection('works')

  return allWorks.map(entry => ({
      params: {slug: entry.slug}, props: {entry}
  }))
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={`${entry.data.title} - Extensibl Media`}>

  <section class="container mx-auto pt-0 lg:pt-20 py-20 lg:gap-16 px-4">
    <h1 class="text-4xl md:text-5xl lg:text-6xl font-extrabold">
      {entry.data.headline}
    </h1>
  </section>
  
  <section class="container mx-auto pt-0 lg:pt-20 py-20 lg:gap-16 px-4 prose-lg">
    <Content />
  </section>

  <CallToAction />
  <TestimonialsSection />

</Layout>