---
import SiteNavbar from "../components/SiteNavbar.astro";
import Footer from "../components/Footer.astro";
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="bg-brand-background text-brand-dark">
        <SiteNavbar />

        <slot />
        <Footer />
    </body>
</html>
<style is:global>
    @font-face {
        font-family: "Geist";
        src: url("/fonts/Geist-Thin.otf") format("otf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Geist";
        src: url("/fonts/Geist-Light.otf") format("otf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Geist";
        src: url("/fonts/Geist-Regular.otf") format("otf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Geist";
        src: url("/fonts/Geist-Medium.otf") format("otf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Geist";
        src: url("/fonts/Geist-SemiBold.otf") format("otf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Geist";
        src: url("/fonts/Geist-Bold.otf") format("otf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Geist";
        src: url("/fonts/Geist-Black.otf") format("otf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Geist";
        src: url("/fonts/Geist-UltraBlack.otf") format("otf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Geist";
        src: url("/fonts/Geist-UltraLight.otf") format("otf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    html {
        /* font-family: Georgia, "Times New Roman", Times, serif; */
    }
    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }
    ::selection {
        background: #7de2d1;
    }
</style>
<!-- TODO: Keep this script commented out in dev to avoid unecessary notifications in Crisp -->
<script type="text/javascript">
    window.$crisp = [];
    window.CRISP_WEBSITE_ID = "1e81e3b9-f119-40ba-99a8-2008cd5cc724";
    (function () {
        d = document;
        s = d.createElement("script");
        s.src = "https://client.crisp.chat/l.js";
        s.async = 1;
        d.getElementsByTagName("head")[0].appendChild(s);
    })();
</script>
<script
    defer
    data-domain="extensiblmedia.com"
    src="https://plausible-analytics-production-7f3a.up.railway.app/js/script.js"
></script>
